<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine TALL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Finlex Search Engine</h1>
        <h2>Search the Finnish Supreme Court Rulings since 1980</h2>

        <div class="explanation">
            <p>Welcome to our study project! This search engine lets you explore the Finnish Supreme Court's precedent
                rulings using three different search methods:</p>
            <ul>
                <li><strong>Neural Search (English):</strong>Search Finnish cases using English terms and find semantically relevant results.</li>
                <li><strong>Boolean Search (Finnish):</strong> Quickly filter documents by exact word matches.</li>
                <li><strong>TF-IDF Search (Finnish):</strong> Rank documents based on how important specific terms are in relation to the overall collection.</li>
                
            </ul>
        </div>

        <form action="/search" method="post">
            <input type="text" name="query" placeholder="Enter your search term here"
                value="{{ query if query else '' }}" required>
            <div class="search-type">
                <label>
                    <input type="radio" name="search_type" value="neural" {% if search_type == 'neural' %}checked{% endif %}>
                    Neural Search (English)
                </label>
                <label>
                    <input type="radio" name="search_type" value="boolean" {% if search_type == 'boolean' %}checked{% endif %}>
                    Boolean Search (Finnish)
                </label>
                <label>
                    <input type="radio" name="search_type" value="tfidf"  {% if search_type == 'tfidf' %}checked{% endif %}>
                    TF-IDF Search (Finnish)
                </label>
                
            </div>
            <button type="submit">Search</button>
        </form>

        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}

{% if query %}
    {% if search_type == 'boolean' %}
        {% if results is not none and results|length > 0 %}
        <h2>Boolean Search Results for "{{ query }}"</h2>
        {% for result in results %}
            <div class="result">
                <h3><a href="{{ result['Link'] }}" target="_blank">{{ result['Title'] }}</a></h3>
                 <p><strong>Case Number:</strong> {{ result['Case Number'] or "N/A" }}</p>
                <p><strong>Date:</strong> {{ result['Date'] or "N/A" }}</p>
                <p><strong>Description:</strong> {{ result['Description'] }}...</p>
                <!--<p><strong>Relevance Score:</strong> {{ "%.2f"|format(result['score']) }}</p>-->
            </div>
        {% endfor %}
        {% else %}
        <div class="meme">
            <img src="{{ url_for('static', filename='../static/images/judge_judy.jpg') }}" alt="Court Meme">
        </div>
   <!--     <p>No matches found for "{{ query }}. Search again".</p>-->
        {% endif %}

    {% elif search_type == 'tfidf' %}   
        {% if results is not none and results|length > 0 %}
        <h2>TF-IDF Search Results for "{{ query }}"</h2>
        {% for result in results %}
            <div class="result">
                <h3><a href="{{ result.link }}" target="_blank">{{ result.title }}</a></h3>
                <p><strong>Case Number:</strong> {{ result.diaarinumero or "N/A" }}</p>
                <p><strong>Date:</strong> {{ result.antopaiva or "N/A" }}</p>
                <p><strong>Description:</strong> {{ result.description }}...</p>
            </div>
        {% endfor %}
        {% else %}
        <div class="meme">
            <img src="{{ url_for('static', filename='../static/images/judge_judy.jpg') }}" alt="Court Meme">
        </div>
     <!--   <p>No matches found for "{{ query }}. Search again".</p> -->
        {% endif %}

    {% elif search_type == 'neural' %}   
        {% if results is not none and results|length > 0 %}
        <h2>Neural Search Results for "{{ query }}"</h2>
        {% for result in results %}
            <div class="result">
                <h3><a href="{{ result.link }}" target="_blank">{{ result.title }}</a></h3>
                <p><strong>Case Number:</strong> {{ result.diaarinumero or "N/A" }}</p>
                <p><strong>Date:</strong> {{ result.antopaiva or "N/A" }}</p>
                <p><strong>Description:</strong> {{ result.description }}...</p>
            </div>
        {% endfor %}
        {% else %}
        <div class="meme">
            <img src="{{ url_for('static', filename='../static/images/judge_judy.jpg') }}" alt="Court Meme">
        </div>
       <!-- <p>No matches found for "{{ query }}. Search again".</p>-->
        {% endif %}
    {% endif %}
{% endif %}
    </div>

    <button class="home-button" onclick="window.location.href='/'">
        <span class="courthouse-icon">🏛️</span>
    </button>
    
</body>

</html>