<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine TALL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Search the Documents</h1>
    <form action="/search" method="POST">
        <label for="query">"Please Enter your query, type 'quit' to exit: "</label>
        <input type="text" name="query" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
